.pb{
    margin-top: 0px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7J1fJRIXKOwUbBO670QJKtpn3VmMk0oXlWSvaUZkKsw1-WVWiZ0C9oKGGA2oPEuAjeuo&usqp=CAU');
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
    font-size: 45px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    
}